<h1><%= @flat.name %></h1>

<% if @flat.picture_url.present? %>
  <img src="<%= @flat.picture_url %>" class="img-fluid rounded" alt="<%= @flat.name %>">
<% end %>

<p><strong>Address:</strong> <%= @flat.address %></p>
<p><strong>Description:</strong> <%= @flat.description %></p>
<p><strong>Price per night:</strong> $<%= @flat.price_per_night %></p>
<p><strong>Number of Guests:</strong> <%= @flat.number_of_guests %></p>

<%= link_to 'Back to Flats', flats_path, class: "btn btn-secondary" %>
<%= link_to 'Edit', edit_flat_path(@flat), class: "btn btn-warning" %>
<%= link_to "Delete", flat_path(@flat), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger" %>
